{%extends 'base.html'%}

{% block 'conteudo'%}
<div class="container">
    <div class="row">
    {% for product in products %}

        {% if product.active %}
            <div class="col-sm">
                <div class="cont">
                    <img style="width: 350px height: 100px; margin-top: 20px;" src="/media/{{product.img}}">
                </div>
                <h1 style="width: 350px;" class="nome titulo bordaBottom">{{product.name}}</h1>
                <h2 class="rosa">Descrição:</h2>
                <h5 style="width: 350px; color: gray;" class="descricao bordaBottom">{{product.description}}</h5>
                <h1 class="rosa">R$ {{product.price}}0</h1>
                <br>
                <a style="margin-top: 20px;" href="{% url 'product' product.id %}" class="botao">Adicionar ao carrinho</a>
                <br>
            </div>
      {% endif %}
      {% endfor %}  
      
      
    </div>
  </div>
{%endblock%}